.ant-input {
    //
    &-affix {
        //
        &-wrapper {
            border-radius: 20px;
            border: 1px solid #c7c7c7;
            border: 1px solid var(--input-border-color);
            &:not(.ant-input-affix-wrapper-disabled) {
                //
                &:hover {
                    border-color: #e98a3b;
                    border-color: var(--primary-color);
                }
                &:focus {
                    border-color: #e98a3b;
                    border-color: var(--primary-color);
                }
            }
        }
    }
}