.baseStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #e98a3b;
    background-color: var(--primary-color);
    color: #fff;
    color: var(--ok-status-color);
    text-align: center;
    font-size: 16px;
    &--ok {
        background-color: #188836;
        background-color: var(--ok-status-background);
        color: #fff;
        color: var(--ok-status-color);
    }
    &--fail {
        background-color: #db255c;
        background-color: var(--fail-status-background);
        color: #fff;
        color: var(--fail-status-color);
    }
}